<span class="days">
  <span class="flipclock-label"><span class="flipclock-label-long">Days</span><span class="flipclock-label-short">D</span></span>
  <span class="digit-collection">
    {{days}}
  </span>
</span>
<span class="hours">
  <span class="flipclock-label"><span class="flipclock-label-long">Hours</span><span class="flipclock-label-short">H</span></span>
  <span class="digit-collection">
    {{hours}}
    
  </span>
</span>
<span class="minutes">
  <span class="flipclock-label"><span class="flipclock-label-long">Minutes</span><span class="flipclock-label-short">M</span></span>
  <span class=" digit-collection">
    {{minutes}}
  </span>
</span>

<span class="seconds">
  <span class="flipclock-label"><span class="flipclock-label-long">Seconds</span><span class="flipclock-label-short">S</span></span>
  <span class=" digit-collection">
      {{seconds}}
  </span>
</span>