<div class="header-wrap">
  <app-header></app-header>
  <div class="page-banner-content">
    <div class="container text-white"></div>
  </div>
</div>

<div class="content-wrap">
  <div class="container">
    <div class="section-content">
      <div class="horizontal-cards horizontal-cards-alternate">
        <div class="horizontal-card horizontal-card-01">
          <div class="row no-gutters">
            <div class="col-4 align-self-center text-center horizontal-card-image">
              <div class="horizontal-card-image-inner">
                <p><img src="/assets/images/how-it-works-card-01.png" alt=""></p>
              </div>
            </div>
            <div class="col-4 horizontal-card-title">
                <div class="horizontal-card-title-inner">
                  let’s make the impossible possible
                </div>
            </div>
            <div class="col-4 horizontal-card-description">
              <div class="horizontal-card-description-inner">
                <p>We organise Lottery syndicates for the world’s biggest lotteries. Syndicates are when people play lottery together to improve their odds.</p>  
                <p>By playing with us you get <strong>MORE CHANCES</strong>  and <strong>BETTER ODDS</strong> at a much <strong>REDUCED COST</strong>.</p>
              </div>
                
            </div>
            
          </div>
            
        </div>
        <div class="horizontal-card horizontal-card-02">
          <div class="row no-gutters">
            <div class="col-4 align-self-center text-center horizontal-card-image">
              <div class="horizontal-card-image-inner">
                <p><img src="/assets/images/how-it-works-card-02.png" alt=""></p>
              </div>
            </div>
            <div class="col-4 horizontal-card-title">
                <div class="horizontal-card-title-inner">
                  subscribe to our managed syndicate service
                </div>
            </div>
            <div class="col-4 horizontal-card-description">
              <div class="horizontal-card-description-inner">
                <p>You subscribe to our managed syndicate service and get either 1, 3 or 6 syndicates depending on the tier you buy, <strong>BRONZE</strong>, <strong>SILVER</strong> or <strong>GOLD</strong>. </p>  
                <p>The more you buy, the <strong>BETTER VALUE</strong> you get.</p>
              </div>
            </div>
            
          </div>
        </div>
        <div class="horizontal-card horizontal-card-03">
          <div class="row no-gutters">
            <div class="col-4 align-self-center text-center horizontal-card-image">
              <div class="horizontal-card-image-inner">
                <p><img src="/assets/images/how-it-works-card-03.png" alt=""></p>
              </div>
            </div>
            <div class="col-4 horizontal-card-title">
              <div class="horizontal-card-title-inner">
                the perfect lottery strategy
              </div>
            </div>
            <div class="col-4 horizontal-card-description">
              <div class="horizontal-card-description-inner">
                <p>Weekly prices are set <strong>ULTRA LOW</strong> to allow a sustainable and affordable long term <strong>STRATEGY</strong>.</p>  
                <p>Your <strong>ODDS</strong> dramatically increase, as long as you have the <strong>PATIENCE</strong> and 	<strong>PERSISTANCE</strong> to see the <strong>STRATEGY</strong> through</p>
              </div>
            </div>
            
          </div>
        </div>
        <div class="horizontal-card horizontal-card-04">
          <div class="row no-gutters">
            <div class="col-4 align-self-center text-center horizontal-card-image">
              <div class="horizontal-card-image-inner">
                <p><img src="/assets/images/how-it-works-card-04.png" alt=""></p>
              </div>
            </div>
            <div class="col-4 horizontal-card-title">
              <div class="horizontal-card-title-inner">
                never miss a draw to increase your odds
              </div>
            </div>
            <div class="col-4 horizontal-card-description">
              <div class="horizontal-card-description-inner">
                <p>Each syndicate has 88 members and buys 5 tickets of <strong>EuroMillions</strong> and 5 tickets of <strong>MegaMillions</strong> for <strong>every draw</strong></p>
              </div>
            </div>
            
          </div>
        </div>
        
        <div class="horizontal-card horizontal-card-05">
          <div class="row no-gutters">
            <div class="col-4 align-self-center text-center horizontal-card-image">
              <div class="horizontal-card-image-inner">
                <p><img src="/assets/images/how-it-works-card-05.png" alt=""></p>
              </div>
            </div>
            <div class="col-4 horizontal-card-title">
              <div class="horizontal-card-title-inner">
                  Automated service, never forget, never lose out
              </div>
            </div>
            <div class="col-4 horizontal-card-description">
              <div class="horizontal-card-description-inner">
                <p>A <strong>subscription</strong> means you never forget to buy the tickets, you never have to check your numbers, you never have to worry about collecting your winnings.</p>
                <p>It’s all done <strong>Automatically</strong>.</p>
              </div>
            </div>
            
          </div>
        </div>
        <div class="horizontal-card horizontal-card-06">
          <div class="row no-gutters">
            <div class="col-4 align-self-center text-center horizontal-card-image">
              <div class="horizontal-card-image-inner">
                <p><img src="/assets/images/how-it-works-card-06.png" alt=""></p>
              </div>
            </div>
            <div class="col-4 horizontal-card-title">
              <div class="horizontal-card-title-inner">
                personal log in area
                  
              </div>
            </div>
            <div class="col-4 horizontal-card-description">
              <div class="horizontal-card-description-inner">
                <p>Simple and easy to <strong>navigate</strong>.</p>
                <p>Once you've registered and subscribed, you can <strong>log in</strong> at any time.</p>
                <p>We will show you your lottery tickets, and <strong>keep track</strong> of your winnings and the draw results.</p>
              </div>
            </div>
            
          </div>
        </div>
        <div class="horizontal-card horizontal-card-07">
          <div class="row no-gutters">
            <div class="col-4 align-self-center text-center horizontal-card-image">
              <div class="horizontal-card-image-inner">
                <p><img src="/assets/images/how-it-works-card-07.png" alt=""></p>
              </div>
            </div>
            <div class="col-4 horizontal-card-title">
              <div class="horizontal-card-title-inner">
                autoplay to claim & collect your winnings
              </div>
            </div>
            <div class="col-4 horizontal-card-description">
              <div class="horizontal-card-description-inner">
                <p>We <strong>automatically</strong> collect the winnings.</p>
                <p>You can <strong>withdraw</strong> as soon as your winnings are above £3. </p>
                <p>We charge <strong>no Commission</strong> on withdrawals or winnings.</p>
              </div>
            </div>
            
          </div>
        </div>
        <div class="horizontal-card horizontal-card-08">
          <div class="row no-gutters">
            <div class="col-4 align-self-center text-center horizontal-card-image">
              <div class="horizontal-card-image-inner">
                <p><img src="/assets/images/how-it-works-card-08.png" alt=""></p>
              </div>
            </div>
            <div class="col-4 horizontal-card-title">
              <div class="horizontal-card-title-inner">
                refer your friends
              </div>
            </div>
            <div class="col-4 horizontal-card-description">
              <div class="horizontal-card-description-inner">
                <p>You can give 50 <strong>FREE POWERBALL LINES</strong> to your friends.</p>
                <p>And when they subscribe, you also get <strong>50 FREE POWERBALL LINES</strong>.</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="footer-wrap">
  <app-footer></app-footer>
</div>
  
