<div class="header-wrap">
  <app-header></app-header>
  <div class="page-banner-content">
    <div class="container text-white"></div>
  </div>
</div>

<div class="content-wrap">
  <div class="container">
    <div class="section">
      <div class="section-content">
        <div class="position-relative">
          <div [innerHTML]="staticData.staticContentData.privacyPolicy.response?.text"></div>
            <span *ngIf="staticData.staticContentData.privacyPolicy.isRequesting" class="icon-loader"><fa name="circle-o-notch" size="4x" animation="spin"></fa></span>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="footer-wrap">
  <app-footer></app-footer>
</div>
  
