.pricing-disclaimer-highlight {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  font-weight: 400;
  color: #333333;
  padding: 10px 0;
}
