<div class="header-wrap">
  <app-header></app-header>
  <div class="page-banner-content">
    <div class="container text-white"></div>
  </div>
</div>

<div class="content-wrap">
  <div class="container section-content private-pages-sides-wrap">
    <div class="row no-gutters">
      <div class="col-12 col-xl-3">
        <app-user-menu></app-user-menu>
      </div>
      <div class="col-12 col-xl-9">
        <div class="private-pages-right-side-wrap">
          <app-pricing-plans></app-pricing-plans>
          <div *ngIf="authService.isSubscribed()" ><app-cancel-subscription></app-cancel-subscription></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-wrap">
  <app-footer></app-footer>
</div>