<div class="header-wrap">
  <app-header></app-header>
  <div class="page-banner-content">
    <div class="container text-white"></div>
  </div>
</div>

<div class="content-wrap">
  <div class="section-content section-about-us">
    <div class="container">
      <h2 class="text-center mb-4 mt-1 blue-1">welcome to the wshful community - powered by you</h2>
      <img class="mt-0 mb-1 mb-md-4" src="/assets/images/group-photo.jpg" alt="">
      <p>
        Wshful is a <strong class="text-uppercase">COMMUNITY</strong> of over <strong class="text-uppercase">5000 MEMBERS</strong>
        playing in <strong class="text-uppercase">LOTTERY SYNDICATES</strong>.
        We started our Group because we were fed up of <strong class="text-uppercase">HIGH</strong> tickets prices and
        <strong class="text-uppercase">LOW</strong> odds and <strong class="text-uppercase">SMALL</strong> jackpots.
        <br /><br />
        By playing together we can share the cost to cover a wide range of lottery numbers over the long term to narrow
        and <strong class="text-uppercase">BEAT THE ODDS</strong> on the biggest jackpots in the world.
      </p>
      
      <h2 class="text-center blue-2">A proven strategy</h2>
      <div class="row no-gutters proven-strategy">
        <div class="col-12 col-lg proven-strategy-bg">
          <div style="padding: 100% 0 0;"></div>
        </div>
        <div class="col-12 col-lg ">
          <p>In 1992 Stefan Klincewicz designed a syndicate to successfully ‘buy’ the Irish Lottery using syndicate strategy and won over £2,400,000. Stefan was backed by a small number of rich investors, all buying a huge number of ticket combinations to win the huge prize.</p>
        </div>
        <div class="col-12 col-lg blue-2-bg text-white proven-strategy-name">
          <p>Stefan Klincewicz <br />– won over £2,400,000</p>
          <p><img src="/assets/images/irish-independent.png" alt=""></p>
        </div>
      </div>

      <h2 class="text-center text-lg-left orange">Our mission</h2>
      <div class="row">
        <div class="col-12 col-lg order-10 order-lg-0">
          <p>Our goal is to fill more than <strong class="text-uppercase">50 syndicates</strong> with members covering over <strong class="text-uppercase">300,000 lottery combinations</strong> in a year.</p>
          <p>We only accept <strong class="text-uppercase">small investments</strong> – a maximum of <strong class="text-uppercase">£12 a week</strong>, many of our customers are investing just £3 a week.</p>
          <p>We've designed our syndicate to drop feed a <strong class="text-uppercase">small investment</strong> into a long term <strong class="text-uppercase">affordable strategy</strong>.</p>
        </div>
        <div class="col-12 col-lg text-center">
          <img src="/assets/images/our-strategy-photo.jpg" alt="">
        </div>
      </div>
      <p>We <strong class="text-uppercase">improve the odds</strong> of our members by <strong class="text-uppercase">over 6000 times</strong> compared to buying a one off ticket.</p>
      <p>Lottery Odds are <strong class="text-uppercase">Impossible</strong>.  Lets <strong class="text-uppercase">make the impossible, possible</strong>.</p>

      <h2 class="text-center text-lg-right green">Our History</h2>
      <div class="row">
        <div class="col-12 col-lg order-0 order-lg-10 text-left text-lg-right">
          <p>When we first started our first syndicates were only for friends, family and friends of friends. Within a couple of months we could not cope and started automating our systems.</p>
          <p>Then in 2017 we found a way to open this to the general public – <strong>wshful.com</strong>.</p>
          <p>The demand has been overwhelming and by putting our service into a website and automating our processes – it became easier to meet the nationwide demand for investing in our syndicates</p>
        </div>
        <div class="col-12 col-lg text-center">
          <img src="/assets/images/our-history-photo.jpg" alt="">
        </div>
      </div>

      <h2 class="text-center text-lg-left blue-3">Who are wshful?</h2>
      <div class="row">
        <div class="col-12 col-lg text-center mb-2">
          <img src="/assets/images/who-wshful-1.jpg" alt="">
        </div>
        <div class="col-12 col-lg text-center mb-2">
          <img src="/assets/images/who-wshful-2.jpg" alt="">
        </div>
      </div>
      <p>We are a <strong class="text-uppercase">community</strong> who is doing more than just wishing.  We are <strong class="text-uppercase">investing</strong> and <strong class="text-uppercase">planning</strong> and <strong class="text-uppercase">delivering</strong>.  We have members from all over the country.  We are of all ages sizes and backgrounds. <strong class="text-uppercase">600 small wins</strong>.  Some close calls. But one day our members will win one of the world’s biggest <strong class="text-uppercase">lottery jackpots</strong>.  And we want you to share in our <strong class="text-uppercase">success</strong>. 
      <br />Join us today.  <strong>Wshful</strong> – Powered by <strong class="text-uppercase">you</strong>.</p>
      <p class="text-center"><a class="button-1" routerLink="/register"><span class="button-1-inner">Join Us Today</span></a></p>
      
    </div>

    <!-- old page -->
    <!-- <div class="wshful-steps-outer">
      <div class="wshful-steps-intro">
        <div class="container">
          “winning the lottery is imposible.” <br>
          <strong>Let’s make the impossible posible!</strong>
        </div>
      </div>
      <div class="wshful-steps">
        <div class="wshful-step">
          <div class="container">
            <div class="wshful-step-inner wshful-step-inner-mission">
              <div class="row">
                <div class="col-9 col-sm-8">
                  <div class="mb-3 wshful-step-title"><img src="/assets/images/our-mission-title.png" alt=""></div>
                  <p>We are <strong>Wshful</strong> an UK-based lottery syndicate. Our <strong>mission</strong> is to win the lottery. We need a team to help that dream come true. And we need <strong>you</strong> on our team. Together we form a group of syndicate designed to <strong>win big</strong> on the world’s biggest and best value lotteries.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wshful-step">
          <div class="container">
            <div class="wshful-step-inner wshful-step-inner-research">
              <div class="row">
                <div class="col-9 col-sm-8">
                  <div class="mb-3 wshful-step-title"><img src="/assets/images/research-title.png" alt=""></div>
                  <p>Our first step is to <strong>research</strong> for the best prizes and the best odds. Unsurprisingly a combination of the best odds and the best prizes come from the US. In fact only one European lottery came close to PowerBall and Mega Millions for jackpots and great odds was EuroMillions.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wshful-step">
          <div class="container">
            <div class="wshful-step-inner wshful-step-inner-strategy">
              <div class="row">
                <div class="col-9 col-sm-8">
                  <div class="mb-3 wshful-step-title"><img src="/assets/images/strategy-title.png" alt=""></div>
                  <p>So we’ve built a <strong>syndicate</strong> which buys tickets from the 3 <strong>best lotteries</strong> in the world. We then decided that the <strong>best way to win</strong> was to have as many <strong>tickets</strong> as possible for as many <strong>draws</strong> as possible.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="wshful-steps-footer">
        <div class="container text-center">
            <div class="wshful-steps-footer-1">
              <p>Our <strong>automated system</strong> buys the tickets. <br>We show you a full scan of the tickets we have bought. <br>It means <strong>we never forget</strong> and you never lose out. <br>Our automated systems take your payment <strong>every 4 weeks</strong>, which buys you a share of the <strong>syndicate winnings</strong>.</p>
            </div>
            <div class="wshful-steps-footer-2">
              <p>Winning means <strong>having patience</strong>. <br>We only take small amount per week, <br>because we want to make it <strong>affordabl</strong>e for you to stay committed. <br>Being in the draw once makes the lottery as impossible as ever. <br>Playing for a year – makes your odds real.</p>
            </div>
        </div>
      </div>
    </div> -->
  </div>


  <!-- old page -->
  <!-- <div class="section-content section-content-thick section-content-plan-simple">
    <div class="container">
      <app-pricing-plans-simple></app-pricing-plans-simple>
      <div class="plan-cards-simple-odds-text">
          Your jackpot odds improve <strong>1000 times</strong> with a single year of member.
      </div>
    </div>
  </div> -->
</div>

<div class="footer-wrap">
  <app-footer></app-footer>
</div>
  
