<div class="header-wrap">
    <app-header></app-header>
    <div class="page-banner-content">
      <div class="container text-white"></div>
    </div>
  </div>
  
  <div class="content-wrap">
    <div class="container section-content private-pages-sides-wrap">
      <div class="row no-gutters">
        <div class="col-12 col-xl-3">
          <app-user-menu></app-user-menu>
        </div>
        <div class="col-12 col-xl-9">
          <div class="private-pages-right-side-wrap">
            
            <div class="section-update-profile mt-xl-5">
              <div class="successful-update-msg" *ngIf="showUpdateSuccessfullMsg">Your password has been updated.</div>
              <div class="form-row form-row-errors errors-group" *ngIf="!!errors.length">
                <ul class="m-0">
                    <li *ngFor="let error of errors error-text">{{error}}</li>
                </ul>
              </div>
              <form #f="ngForm" class="may-load update-user-form" (submit)="onSubmit(f)" [ngClass]="{'is-loading': isLoading}">
                
                <span *ngIf="isLoading" class="icon-loader"><fa name="circle-o-notch" size="4x" animation="spin"></fa></span>
                <fieldset [disabled]="isLoading">

                  <div class="form-row form-row-phone">
                    <label for="currentPassword">Current password</label>
                    <span class="d-inline-block form-row-of-inputs">
                      <input type="password" name="currentPassword" id="currentPassword" [(ngModel)]="formFields.currentPassword" #currentPassword="ngModel" minlength="5" required>
                      <span *ngIf="triedSubmit && currentPassword?.errors?.minlength" class="field-error">Password must have at least 5 characters.</span>
                      <span *ngIf="triedSubmit && currentPassword?.errors?.required" class="field-error">This field is required.</span>
                    </span>
                  </div>
                  <div class="form-row form-row-phone">
                    <label for="newPassword">New password</label>
                    <span class="d-inline-block form-row-of-inputs">
                      <input type="password" name="newPassword" id="newPassword" [(ngModel)]="formFields.newPassword" #newPassword="ngModel" minlength="5" required>
                      <span *ngIf="triedSubmit && newPassword?.errors?.minlength" class="field-error">Password must have at least 5 characters.</span>
                      <span *ngIf="triedSubmit && newPassword?.errors?.required" class="field-error">This field is required.</span>
                    </span>
                  </div>
                  <div class="form-row form-row-phone">
                    <label for="repeatNewPassword">Repeat new password</label>
                    <span class="d-inline-block form-row-of-inputs">
                      <input type="password" name="repeatNewPassword" id="repeatNewPassword" [(ngModel)]="formFields.repeatNewPassword" #repeatPassword="ngModel" minlength="5" required>
                      <span *ngIf="triedSubmit && repeatPassword.value != newPassword.value && repeatPassword.value != ''" class="field-error">Password doesn't match.</span>
                      <span *ngIf="triedSubmit && repeatPassword?.errors?.minlength" class="field-error">Password must have at least 5 characters.</span>
                      <span *ngIf="triedSubmit && repeatPassword?.errors?.required" class="field-error">This field is required.</span>
                    </span>
                  </div>
                  <div class="text-center mt-4 submit-button-wrap">
                    <input type="submit" value="Change Password" class="btn">
                  </div>
                </fieldset>
  
  
                
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="footer-wrap">
    <app-footer></app-footer>
  </div>