<div class="header-wrap">
  <app-header></app-header>
  <div class="page-banner-content">
    <div class="container text-white"></div>
  </div>
</div>

<div class="content-wrap">
  <div class="section section-login">
    <div class="container">
      <div class="section-content">

          <div class="position-relative">
              <span *ngIf="sendIsWaitingForResponse || infoIsWaitingForResponse || changeIsWaitingForResponse" class="icon-loader"><fa name="circle-o-notch" size="4x" animation="spin"></fa></span>
            <div *ngIf="recoveryKeyParam == null">
              
              <form class="text-center may-load" #fs = "ngForm" (ngSubmit)="sendRecoveryMail(fs)" *ngIf="!recoverySendSuccess" [class.tried-submit]="triedSubmit">
                <fieldset [disabled]='sendIsWaitingForResponse'>
                  <div class="errors-group d-inline-block p-1" *ngIf="errors?.length">
                    <ul class="m-0">
                      <li class="error-text" *ngFor="let error of errors">{{error}}</li>
                    </ul>
                  </div>
                  <div class="p-1">
                    <p>Please submit your email address and we will send you a new password.</p>
                    <label for="email" class="text-left">
                      Email <br>
                      <input type="email" placeholder="e-mail" [(ngModel)] = "inputEmail" id="email" name="email" #email = "ngModel"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                      <span *ngIf="triedSubmit && !!email.errors?.pattern" class="field-error">Please provide a valid email address.</span>
                      <span *ngIf="triedSubmit && !!email.errors?.required" class="field-error">Please provide an email address.</span>
                    </label>
                    
                  </div>
                  <div class="p-1">
                    <input type="submit" value="Recover password"  name="inputSubmit">
                  </div>
                </fieldset>
                <p>You don't have an account? <a routerLink="/register">Register Now</a></p>
                
              </form>
              <div *ngIf="recoverySendSuccess" class="text-center">
                <p><strong>The password recovery link has been sent to {{inputEmail}}</strong></p>
              </div>
            </div>
            <div *ngIf="recoveryKeyParam != null" class="text-center">

                <fieldset [disabled]="changeIsWaitingForResponse">
                <div *ngIf="!changeSuccess">
                  <form #fr = "ngForm" (ngSubmit)="changePassword(recoveryInfo.user_key)" ngNativeValidate *ngIf="!infoIsWaitingForResponse && recoveryInfoSuccess">
                    <div class="errors-group d-inline-block p-1" *ngIf="errors?.length">
                      <ul class="m-0">
                        <li class="error-text" *ngFor="let error of errors">{{error}}</li>
                      </ul>
                    </div>
                    <p><strong>Pasword recovery for: <br>{{recoveryInfo.user.email}}</strong></p>
                    
                    <div class="p-1">
                      <label for="password" class="text-left">
                        New password <br>
                        <input type="password" placeholder="new password" [(ngModel)] = "inputPassword" id="password" name="password"  minlength="4" required>
                      </label>
                    </div>
                    <div class="p-1">
                      <input type="submit" value="Change password"  name="inputSubmit2">
                    </div>
  
                  </form>
                  <div *ngIf="!infoIsWaitingForResponse && !recoveryInfoSuccess">
                    <p><strong>There was a problem in the recovery process.</strong></p>
                  </div>
                </div>
              </fieldset>
              <div *ngIf="changeSuccess && !changeIsWaitingForResponse">
                <p><strong>Password for {{recoveryInfo.user.email}} has been changed.</strong></p>
                <p><a routerLink="/login" class="btn">Login</a></p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  
</div>

<div class="footer-wrap">
  <app-footer></app-footer>
</div>
  
